html{
    font-size: 20px;
}
body{
    background-color: #f3be2b;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 90vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
header{
    display: flex;
    background-color: #fcba03;
    width: 100%;
    margin: -10px -10px 0px -10px;
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    flex: 0 1 auto;
}
h1{
    margin: 1rem auto 1.5rem auto;
    text-align: center;    
    font-size: 2rem;
}
main{
    margin-top: 0px;
    margin-bottom: 4rem;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    justify-content: left;
}
#setDiv{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-items: right;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#roundsLabel{
    display: flex;
    font-size: 0.9rem;
    margin-right: 15px;
}
#rounds{
    display: flex;
    width: 2.5rem;
    text-align: center;
    border: none;
    font-size: 0.8rem;
}
#playGame{
    margin-left: 8em;
    display: flex;
    width: 5.4rem;
    height: 1.8rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 0.9rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-top: 0.4rem;
    padding-bottom: 0.45rem;
}
.choiceBtn{
    padding: 0.5rem auto 0.5rem auto;
    background-color: white;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    margin: auto 1rem 1rem 1rem;
}
.choiceBtn:active{
    background-color: black;
}
.choiceImg{
    width: auto;
    height: 5rem;
}
#footer{
    display: flex;
    position: fixed;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    background-color: #fcba03;
    width: 100%;
    margin: -5rem -10px 10px -10px;
    padding: 30px 30px 30px 30px;
    margin-bottom: -10px;
    bottom: 0%;
}
#footer img{
    height: 80px;
}
#gameResult button{
    width: 5.4rem;
    height: 1.8rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 0.9rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-top: 5px;
    padding-bottom: 9px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
#gameResult{
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
}
#gameResult p{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
#gameResult p label{
    margin-right: 20px;
    margin-left: 30px;
}
#scoreDiv{
    font-size: 1.25rem;
}
.wins{
    color: green;
}
.loses{
    color: red;
}
.draws{
    color: black;
}
.gameOver{
    font-size: 1rem;
    background-color: black;
    color: white;
    line-height: 2rem;
}